@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login-form{
  position: relative;
  width: 370px;
  height: auto;
  background: #ffffff;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 0 0 1px #ffffff;
}
.text{
  font-size: 30px;
  color: #c7c7c7;
  font-weight: 600;
  letter-spacing: 2px;
}
form{
  margin-top: 40px;
}
form .field{
  margin-top: 20px;
  display: flex;
}
.field .fas{
  height: 50px;
  width: 60px;
  color: #868686;
  font-size: 20px;
  line-height: 50px;
  border: 1px solid #444;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(#86b8c1,#5df0e6);
}
.field input,form button{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #868686;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  caret-color: #61afe0;
  background: linear-gradient(#86b8c1,#5df0e6);
}
input:focus{
  color: #61afe0;
  box-shadow: 0 0 5px rgba(0,255,0,.2),
              inset 0 0 5px rgba(0,255,0,.1);
  background: linear-gradient(#f8faf8,#fafdfa);
  animation: glow .8s ease-out infinite alternate;
}
@keyframes glow {
   0%{
    border-color: #61afe0;
    box-shadow: 0 0 5px rgba(0, 72, 255, 0.2),
                inset 0 0 5px rgba(42, 135, 89, 0.1);
  }
   100%{
    border-color: #61afe0;
    box-shadow: 0 0 20px rgba(0,72,255, 0.2),
                inset 0 0 10px rgba(0,0,0,.1);
  }
}
button{
  margin-top: 30px;
  border-radius: 5px!important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
button:hover{
  color: #61afe0;
  border: 1px solid #61afe0;
  box-shadow: 0 0 5px rgba(0,255,0,.3),
              0 0 10px rgba(0,255,0,.2),
              0 0 15px rgba(0,255,0,.1),
              0 2px 0 rgb(4, 4, 4);
}
.link{
  margin-top: 25px;
  color: #868686;
}
.link a{
  color: #000000;
  text-decoration: none;
}
.link a:hover{
  text-decoration: underline;
}